#center-container{
    max-width: 1000px;
    margin: auto 0 ;
}

nav a{
padding: 30px;
text-decoration: none;
color: black;

}
nav a:hover{
    background-color: aqua;
    color: white;
}

